/* RESET BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STRUTTURA GENERALE */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
}

/* CONTENITORE CALCOLATRICE */
#calc-container {
  background-color: #2e2e2e;
  border-radius: 10px;
  width: 360px;
  overflow: hidden;
}

/* DISPLAY */
#calc-screen {
  width: 100%;
  padding: 20px;
  font-size: 2.5rem;
  text-align: right;
  border: none;
  background-color: #3a3a3a;
  color: #ffffff;
  outline: none;
}

/* AREA DEI PULSANTI */
#calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 15px;
}

/* PULSANTI */
button {
  height: 70px;
  border: none;
  border-radius: 8px;
  background-color: #505050;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #6a6a6a;
}

button:active {
  background-color: #7c7c7c;
}

/* OPERATORI */
.operator-btn {
  background-color: #ff9800;
}

.operator-btn:hover {
  background-color: #ffb84d;
}

.operator-btn:active {
  background-color: #ffc266;
}

/* PULSANTE UGUALE (=) */
button:nth-last-child(2) {
  background-color: #4caf50;
  color: #fff;
}

button:nth-last-child(2):hover {
  background-color: #66bb6a;
}

/* PULSANTE CANCELLA (C) */
button:last-child {
  background-color: #e53935;
}

button:last-child:hover {
  background-color: #ef5350;
}
