* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(206, 204, 204);
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

#calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

#calc-container {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#calc-screen {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
}

button:hover{
     background-color: rgb(151, 150, 150);
}

button:active{
     background-color: rgb(176, 175, 175);
}

.operator-btn {
    background-color: rgb(255, 166, 0);
}

.operator-btn:hover {
    background-color: rgb(255, 182, 45);
}

.operator-btn:active {
    background-color: rgb(255, 192, 74);
}